.green {
    color: green;
}
.red {
    color: red;
}

body {
    background-color: white;
    text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
    color: white;
    
}